*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    width: 100%;
    height: 100%;
    cursor: url(images/q.png),auto;
    overflow-x: hidden;
}

.navbar{
    padding:20px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content: space-between;
    font-family: 'SUD';
}
.navbar li{
    font-weight: bolder;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    cursor: no-drop;
}
.landingpage{
    width: 100%;
    height: 110vh;
    text-align: center;
}
.div1{
    margin-top: 10%;
}
.div1 h1{
    font-size: 6rem;
    font-family: 'SUD';
    color: white;
}
.b1{
    margin-right: 20%;
}
.b2{
    margin-left: 30%;
}
.div2 video{
    width: 70%;
    margin-top: 7%;
}

.work{
    padding:  80px;
}
.work h1{
    font-size: 6rem;
    font-family: 'SUD';
    color: white;
}
.card-container{
    margin-top: 10%;
}
.img-wrapper{
    width: 35%;
    margin: 0 4% 0 auto;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1em 0;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}
.img-wrapper:nth-child(2){
    margin: 0;
}
.img-wrapper:nth-child(2) img{
    object-fit: cover;
}
.img-wrapper:nth-child(4){
    margin: 0;
}
.img-wrapper:nth-child(4) img{
    object-fit: cover;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
}
.btn__circle {
    width: 8.5vw;
    min-width: 8.5vw;
    height: 8.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    background: #edbfff;
    color: #0f0d0d;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: 0;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.hover{
    width: 100%;
    height: 61vh;
    margin-top: 4%;
    overflow-x: hidden;
}
#ca {
    height: 90%;
    position: absolute;
    display: flex;
    left: 0%;
    gap: 2rem;
    animation-name: caanime;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 20s;
    animation-timing-function: linear;
}

#ca img {
    height: 60%;
    width: 400px;
    border-radius: 200px;
}
.footer{
    text-align: center;
    width: 100%;
    height: 44vh;
}
.footer h1{
    font-family: 'SUD';
    font-size: 6rem;
    color: #ffffff;
    font-weight: 400;
}
#btn{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#left{
    margin-left: 20%;
    position: relative;
    text-align: right;
    z-index: 2;
}
#right{
    flex: 0 0 630px;
}
.paragraph-container p{
    max-width: 300px;
    color: #ffffff;
    font-family: "SUD";
    text-align: left;
}
.button-container {
    max-width: 300px;
    color: #ffffff;
    font-family: "SUD";
    text-align: left;
    margin-top: 2%;
}
.button-container a .ButtonIcon, .button-container button .ButtonIcon {
    display: inline-block;
    height: 16px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 11px;
    
}
.back-button-container a, .back-button-container button, .button-container a, .button-container button {
    color: inherit;
    display: inline-block;
    font-family: "SUD";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 22px;
    margin-right: 3.5rem;
    overflow: hidden;
    padding: 0.125rem 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
    text-align: left;
    border-bottom: 1px solid white;
}
.Container {
    margin: 2rem auto;
    max-width: 1600px;
    padding: 0 1.25rem; }
    
.footerlinks .Container{
    align-items: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 2rem 0;
}
.footerlinks .Container .link {
    display: inline-block;
    margin: 0 1rem;
    font-family: "SUD";
    font-weight: bold;
}
.link a{
    text-decoration: none;
    color: white;
}
@keyframes caanime {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-45% - 30px));
    }

}
@keyframes animation{
    0% {
         transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(400px*4));
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: #444343;
    border-radius: 10px;
    cursor: grab;
}

@media only screen and (max-width:600px){
    .div1 h1{
        font-size: 2rem;
    }
    svg{
        display: none;
    }
    .navbar ul li{
        display: block;
    }
    .div1{
        margin-top: 20%;
    }
    .div2 video{
        margin-top: 14%;
    }
    .landingpage{
        height: 51vh;
    }
    .about h1{
        font-size: 2rem;
    }
    .div3{
        flex-direction: column;
        gap: 50px;
    }
    .b3{
        font-size: 2rem;
    }
    .b4{
        font-size: 1.25rem;
    }
    .work h1{
        font-size: 2rem;
    }
    .img-wrapper:nth-child(2) img ,.img-wrapper:nth-child(4) img{
        height: 150px;
    }
    .card-info{
        flex-direction: column;
    }
}