*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    width: 100%;
    height: 100%;
    cursor: url();
    overflow-x: hidden;
}

.navbar{
    padding:20px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 1%;
    justify-content: space-between;
    font-family: 'SUD';
}
.navbar li{
    font-weight: bolder;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    cursor: no-drop;
}
.landingpage{
    width: 100%;
    height: 120vh;
    text-align: center;
}
.div1{
    margin-top: 10%;
}
.div1 h1{
    font-size: 6rem;
    font-family: 'SUD';
    color: white;
}
.b1{
    margin-right: 20%;
}
.b2{
    margin-left: 30%;
}
.div2 video{
    width: 80%;
    margin-top: 7%;
    border-radius: 20px;
}
.about{
    margin-top: 65%;
    height: 92vh;
    padding: 80px;
}
.about h1{
    overflow: hidden;
    font-size: 6rem;
    font-family: 'SUD';
    color: white;
}
.div3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 12vw 0% 8vw ;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
}
.b3{
    font-size: 3rem;
    color: #ffffff;
}
.b4{
    color: #ffffff;
    font-size: 1.5rem;
}
.b5 img{
    animation: rotating 10s linear infinite ;
    animation-name: seal;
}
@keyframes seal{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
button{
    padding:10px 15px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black ;
    font-weight: 800;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-top: 12px;
}
.h2{
    color: #ffffff;
}
.work{
    padding:  80px;
}
.work h1{
    font-size: 6rem;
    font-family: 'SUD';
    color: white;
}
.card-container{
    margin-top: 10%;
}
.img-wrapper{
    width: 35%;
    margin: 0 4% 0 auto;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1em 0;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}
.img-wrapper:nth-child(2){
    margin: 0;
}
.img-wrapper:nth-child(2) img{
    object-fit: cover;
}
.img-wrapper:nth-child(4){
    margin: 0;
}
.img-wrapper:nth-child(4) img{
    object-fit: cover;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8%;
}
.btn__circle {
    width: 8.5vw;
    min-width: 8.5vw;
    height: 8.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    background: #edbfff;
    color: #0f0d0d;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (max-width:600px){
    .div1 h1{
        font-size: 2rem;
    }
    svg{
        display: none;
    }
    .navbar ul li{
        display: block;
    }
    .div1{
        margin-top: 20%;
    }
    .div2 video{
        margin-top: 14%;
    }
    .landingpage{
        height: 51vh;
    }
    .about h1{
        font-size: 2rem;
    }
    .div3{
        flex-direction: column;
        gap: 50px;
    }
    .b3{
        font-size: 2rem;
    }
    .b4{
        font-size: 1.25rem;
    }
    .work h1{
        font-size: 2rem;
    }
    .img-wrapper:nth-child(2) img ,.img-wrapper:nth-child(4) img{
        height: 150px;
    }
    .card-info{
        flex-direction: column;
    }
}